*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.286);
    border-radius: 13px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(0, 0, 0, 0.701);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;

}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.312);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: all ease 0.2s;
}
button:hover{
    color: orangered;
    background-color: rgba(255, 255, 255, 0.227);

    
}
button:active{
    background-color: rgba(255, 255, 255, 0.716);
}
.operator-btn{
    background-color: rgba(255, 170, 0, 0.915);
}